.display-boards{
    margin:5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.display-boards .personal-boards{ 
    display: flex;
    flex-direction: column;
    width:80%;
   /* margin: 5%;*/
}
.boards{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
}

.display-boards .personal-boards .regular-board, .display-boards #create-modal {
  
   /* background: blue;*/
    color:rgb(255, 255, 255);
    margin:10px;
    margin-left:0px;
    height: 100px;
    width:230px;
    padding:7px;
    font-weight: bold;
   /* background-color: rgb(2, 106, 167);*/
    border-radius: 5px;
}
 .display-boards #create-modal{
     color: black;    
     background-color: rgba(233, 239, 243, 0.89);
     display:flex;
     justify-content: center;
     align-items: center; 
 }
 .create-modal-render{
     position:fixed;
     top:0px;
     left:0px;
     width:100%;
     height:100%;
     background-color: rgba(0, 0, 0, 0.699);
 }
 .CreateModal-Naming{
display: flex;
margin-bottom: 12px;
justify-content: space-between;
 }
 .create-modal-positioning{
     position: relative;
     top:10%;
     left:40%;
     height: 150px;
     width: 300px;
     /*background-color: rgb(58, 204, 204);*/
     padding:5px;
 }
.create-modal-positioning .CreateModal-Naming input[type=text]{
    border:none;
    border-radius: 2px;
    background-color: rgba(240, 248, 255, 0.63);
    color:rgb(51, 48, 48);
    width:150px;
}
.CreateModal-Naming button{
background-color: rgb(46, 150, 98);
color: snow;
border:none;
border-radius: 2px;
/*margin-left: 8px;*/
}
.CreateModal-backgrounds{
    display:grid;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 30% 30% 30%;
   
}
.backgrounds{
    background-size:contain;
    height:64px;
    width: 85px;
    
}
