body{
    background-color: rgba(21, 78, 184, 0.705);
}
.main-home{
    display: flex;
    flex-flow: column;    
    color: White;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;

}
.main-home li{
    flex:1 1 20%;
}
.text1, .text2{
font-size: 40px;
}
.main-home button{
    border:none;
    width:17%;
    height: 35px;
    font-size: 20px;
}

