.navbar-registered {
  margin-top: 0%;
  font-size: 1.2em;

  display: flex;
  list-style: none;
  background-color: rgb(2, 106, 167);
  flex-wrap: nowrap;
  align-items: center;
}
.navbar-registered li {
  flex: 0 0 auto;
}
.boards {
  padding: 1%;
  font-size: 20px;
  background-color: rgba(120, 186, 228, 0.432);
  border-radius: 5%;
}
.boards a {
  height: auto;
  width: auto;
  color: white;
  text-decoration: none;
}
#sb {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
::-webkit-input-placeholder {
  color: white;
}
.button-group {
  display: flex;
  color: white;
  width: 13%;
  justify-content: space-around;
  align-items: flex-start;
}
.plus,
.info,
.profile-pic,
.bell,
#sb,
.boards {
  border-radius: 5%;
  height: 27px;
  padding: 0.5%;
  background-color: rgba(120, 187, 228, 0.432);
  display: flex;
  align-items: center;
  margin: 3px;
}
.plus,
.info,
.profile-pic,
.bell {
  margin: none;
  padding: 5%;
}
.plus :hover {
  background-color: rgba(94, 172, 221, 0.541);
}
.info :hover {
  background-color: rgba(94, 172, 221, 0.541);
}
.profile-pic :hover {
  background-color: rgba(94, 172, 221, 0.541);
}
.bell :hover {
  background-color: rgba(94, 172, 221, 0.541);
}
#sb :hover {
  background-color: rgba(94, 172, 221, 0.541);
}
.boards :hover {
  background-color: rgba(94, 172, 221, 0.541);
}
.logo :hover {
  color: rgb(102, 145, 226);
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  color: rgba(203, 215, 236, 0.856);

  font-family: "Damion", cursive;
  font-size: 27px;
  height: 25px;
}
.navbar-unregistered {
  margin-top: 0%;
  font-size: 1.2em;
  padding: 0.5%;
  display: flex;
  list-style: none;
  background-color: rgb(2, 106, 167);
  flex-wrap: nowrap;
  align-items: center;
}
.logo-unreg {
  margin-right: auto;
  display: flex;
  align-items: center;
  color: rgba(203, 215, 236, 0.856);
  font-family: "Damion", cursive;
  font-size: 27px;
  height: 25px;
}
.login {
  border: none;
  border-radius: 5%;
  height: 27px;
  background-color: rgba(94, 172, 221, 0.774);
  width: 40%;
  color: white;
}
.sign-up {
  border: none;
  border-radius: 5%;
  height: 27px;
  background-color: rgba(94, 221, 100, 0.774);
  width: 40%;
  color: white;
}
.search {
  display: flex;
  margin-right: auto;
  margin-left: 10px;
  font-size: 12px;
  width: 600px;
  align-items: left;
}

#sb {
  align-items: left;
  -webkit-transition: 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 300px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}
#sb:focus {
  background-color: white;
  color: black;
  width: 600px;
}
