/*div,ul,li,html,body,input{
  margin:0;
  padding: 0;
  border:0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}*/

.navbar-registered {
  margin-top: 0%;
  font-size: 1.2em;

  display: flex;
  list-style: none;
  background-color: rgb(2, 106, 167);
  flex-wrap: nowrap;
  align-items: center;
}
.navbar-registered > li {
  flex: 0 0 auto;
}
.navbar-registered .boards {
  padding: 1%;
  font-size: 20px;
  background-color: rgba(120, 186, 228, 0.432);
  border-radius: 5%;
}
.navbar-registered .boards > a {
  height: auto;
  width: auto;
  color: white;
  text-decoration: none;
}

.navbar-registered .boards .board_button{
  display:none;
  font-size: 12px;
  padding:0.1%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 250px;
  position: absolute;
  top:33px;
  left:2px;
  border: 0.5px solid rgba(180, 174, 174, 0.39);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px gray;
}
.navbar-registered .board-button-search{
  border: none;
}
/*.navbar-registered .board-button-content{
  display:none;
}*/
.navbar-registered .boards:hover .board-button-content  .board_button, .board_button:hover{ 
    display:flex;
}
.navbar-registered .flexy{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: inherit;
  align-items: flex-start;
  
}
.navbar-registered #sb {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 150px;
}

.navbar-registered #sb:focus {
  background-color: white;
  color: black;
  width: 300px;
}
:-ms-input-placeholder {
  color: white;
}
::-webkit-input-placeholder {
  color: white;
}
.navbar-registered .button-group {
  display: flex;
  color: white;
  width: 13%;
  justify-content: space-around;
  align-items: flex-start;
}
.navbar-registered .plus,
.navbar-registered .info,
.navbar-registered .profile-pic, 
.navbar-registered .bell, 
.navbar-registered #sb,
.navbar-registered .boards {
  border-radius: 3px;
  height: 27px;
  padding: 0.5%;
  background-color: rgba(120, 187, 228, 0.432);
  margin:3px;
}
.navbar-registered .plus,
.navbar-registered .info,
.navbar-registered .profile-pic,
.navbar-registered .bell {
  margin: none;
  padding: 5%;
}
.navbar-registered .plus :hover {
  background: rgba(94, 172, 221, 0.541);
}
.navbar-registered .info :hover {
  background-color: rgba(94, 172, 221, 0.541);
}
.navbar-registered .profile-pic :hover {
  background-color: rgba(94, 172, 221, 0.541);
}
.navbar-registered .bell :hover {
  background-color: rgba(94, 172, 221, 0.541);
}
.navbar-registered #sb :hover {
  background-color: rgba(94, 172, 221, 0.541);
}
.navbar-registered .board-button :hover {
  background-color: rgba(94, 172, 221, 0.541);
}
.navbar-registered .logo :hover {
  color: rgb(102, 145, 226);
}

.navbar-registered .logo {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  color: rgba(203, 215, 236, 0.856);

  font-family: "Damion", cursive;
  font-size: 27px;
  height: 25px;
}


.navbar-unregistered {
  margin-top: 0%;
  font-size: 1.2em;
  padding: 0.5%;
  display: flex;
  list-style: none;
  background-color: rgb(2, 106, 167);
  flex-wrap: nowrap;
  align-items: center;
}
.navbar-unregistered .logo-unreg {
  margin-right: auto;
  display: flex;
  align-items: center;
  color: rgba(203, 215, 236, 0.856);
  font-family: "Damion", cursive;
  font-size: 27px;
  height: 25px;
}
.navbar-unregistered .login {
  border: none;
  border-radius: 5%;
  height: 27px;
  background-color: rgba(94, 172, 221, 0.774);
  width: 40%;
  color: white;
}
.navbar-unregistered .sign-up {
  border: none;
  border-radius: 5%;
  height: 27px;
  background-color: rgba(94, 221, 100, 0.774);
  width: 40%;
  color: white;
}
.navbar-registered .search {
  display: flex;
  margin-right: auto;
  margin-left: 10px;
  font-size: 12px;
  width: 600px;
  align-items: left;
}


